window#waybar {
    background: transparent;
}

tooltip {
}
tooltip label {
    color: white;
}

.modules-center,
.modules-right,
.modules-left {
    background: @base03;
    margin: 0.15em;
    border-radius: 0.25em;
    border: 2px solid @base02;
}
.modules-left #workspaces button {
    padding: 0 0.5em;
    color: @base05;
    background: @base03;
    margin: 0.25em;
    border-bottom: unset;
}

.modules-left #workspaces button.focused,
.modules-left #workspaces button.active {
    color: @base0B;
    border-bottom: unset;
}

#mode,
#clock,
#battery {
    padding: 0 10px;
}

#mode {
    background: #64727d;
    border-bottom: 3px solid white;
}

#battery {
    color: @base00;
}

#battery.charging {
    color: @base0B;
}

@keyframes blink {
    to {
        color: @base08;
    }
}

#battery.warning:not(.charging) {
    color: @base08;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
