@define-color foreground @base04;
@define-color background @base00;

window#waybar {
  background-color: transparent;
}

* {
  background-color: transparent;
  color: @foreground;

  border: none;
  border-radius: 0;
  min-height: 0;
  font-family: "JetBrainsMono Nerd Font";
  font-size: 20px;
}

.modules-left {
  margin-left: 8px;
}

.modules-right {
  margin-right: 8px;
}

#workspaces button {
  all: initial;
  padding: 0 10px;
  margin: 0 1.5px;
  min-width: 9px;
  color: @foreground;
  background-color: transparent;
}

#workspaces button.empty {
  opacity: 0.5;
}

#cpu,
#battery,
#pulseaudio,
#custom-nix {
  min-width: 12px;
  margin: 0 7.5px;
}

#tray {
  margin-right: 16px;
}

#bluetooth {
  margin-right: 17px;
  color: @base0D;
}

#network {
  margin-right: 13px;
}

#custom-expand-icon {
  margin-right: 18px;
}

tooltip {
  padding: 2px;
}

#clock {
  margin-left: 8.75px;
}

.hidden {
  opacity: 0;
}

#custom-nix {
  color: @base0D;
  font-size: 30px;
  margin-right: 18px;
}

#battery {
  color: @base0B;
}

#battery.warning {
  color: @base0A;
}

#battery.critical {
  color: @base08;
  animation: battery-blink 1s linear infinite;
}

#battery.charging,
#battery.plugged,
#battery.full {
  color: @base0B;
}

@keyframes battery-blink {
  50% {
    color: @foreground;
  }
}
